<form class="mt-4" name="trash-form" method="POST" action="/course/trash-form">
  <h3>thùng rác</h3>
      <div class="mt-4 d-flex align-items-center">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkbox-All">
            <label class="form-check-label" for="checkbox-All">
              chọn tất cả
            </label>
          </div>
        <select class="custom-select custom-select-sm btn-select-trash " name="action">
              <option >--HÀNH ĐỘNG--</option>
              <option value="PATCH">khôi phục</option>
              <option value="DELETED">xóa</option>
        </select>
        <button class="btn btn-primary checked-all-submit btn-sm disabled">thực hiện</button>
      </div>
        <table class="table  table-striped">
                <thead>
                  <tr>
                    <th></th>
                    <th scope="col">STT</th>
                    <th scope="col">Tên khóa học</th>
                    <th scope="col">slug</th>
                    <th scope="col"colspan="4">Thời gian xóa</th>
                  </tr>
                </thead>
        <tbody>
          {{#each course}}
          <tr>
            <th>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{this._id}}" id="checkBox" name="idCourses[]">
                  </div>     
            </th>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.slug}}</td>
            <td>{{this.deletedAt}}</td>
            <td>
              <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">khôi phục</a>
              <a href="" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal" data-target="#exampleModalCenter">xóa mất luôn !</a>
            </td>
          </tr>
          {{else}}
                <tr>
                  <td colspan="5" class="text-center">
                    bạn chưa xóa khóa học nào 
                  </td>
                </tr>
          {{/each}}
        </tbody>
      </table>
  <a href="/me/stored/courses">khóa học của tôi</a>
</form>

{{!-- MODEL-delete --}}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        bạn có chắc chắn muốn xóa
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">hủy</button>
        <button type="button" id="btn-delete-course" class="btn btn-danger">Xóa bỏ</button>
      </div>
    </div>
  </div>
</div>

    <form method="post" name="delete-form"></form>
    <form method="post" name="restore-form"></form>

<script>
   document.addEventListener("DOMContentLoaded", () => {
    var courseid;
    var BTNdeleteCourse = document.getElementById('btn-delete-course');
    var deleteForm = document.forms['delete-form'];
    var restoreForm = document.forms['restore-form'];
    var trashForm = $('form[name="trash-form"]');
 
    var restoreBTN = $('.btn-restore');
    var checkBoxAll = $('#checkbox-All');
    var checkBoxItem = $('input[id="checkBox"]');
    var checkedSubmit = $('.checked-all-submit');

    $('#exampleModalCenter').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) 
      courseid = button.data('id')
      console.log(courseid)
    });
    BTNdeleteCourse.onclick = function(){
      deleteForm.action = '/course/'+ courseid +'/force?_method=DELETE';
      deleteForm.submit();
    }
    restoreBTN.click(function(e){
      e.preventDefault();
      var courseid=$(this).data('id')
      restoreForm.action = '/course/'+ courseid +'/restore?_method=PATCH';
      restoreForm.submit();
    })
    checkBoxAll.change(function(){
      var isChecked = $(this).prop('checked');
      checkBoxItem.prop('checked',isChecked);
      renderBTNall();
    })
    checkBoxItem.change(function(){
      var ischeckAll = $('input[id="checkBox"]:checked').length === checkBoxItem.length;
       checkBoxAll.prop('checked',ischeckAll);
       renderBTNall();
    })
    // checked all submit
    checkedSubmit.on('click',function(e){
     var checkSubmit = $(this).hasClass('disabled');
      if(checkSubmit){
          e.preventDefault();
      }else{
        trashForm.submit();
      }
    })
    function renderBTNall(){
       var renderCheck = $('input[id="checkBox"]:checked').length;
       if(renderCheck){
         checkedSubmit.removeClass('disabled');
       }else{
         checkedSubmit.addClass('disabled');
       }
     }
  })
</script> 
